{{!-- registration.hbs --}}
<form class="auth-form" method="post" id="reg-form">
  <label for="login-username-input">Email</label>
  <input type="email" class="form-input" id="login-username-input" name="email" placeholder="Email" required>

  <label for="login-password-input">Password</label>
  <input type="password" class="form-input" id="login-password-input" name="password" placeholder="Password" required>
  <button type="submit">Create</button>
</form>