{{!-- create-user.hbs --}}
<form class="auth-form" method="post" id="createUserForm">
  <label for="login-username-input">Username</label>
  <input type="text" id="login-username-input" name="username" placeholder="Username" required>

  <button type="submit">Save</button>
</form>